nav{
    margin-top:-13px;
}

.menu a,
.menu span{
    margin-top:9px;
}


.menu a,
.menu span{
    background-position:0 0 !important;
}

nav > .menu > li > a,
nav > .menu > li > span{
    display:block !important;
}

.search{
    padding-left:2px;
}

.search input[type='submit']{
    margin-top:-23px;
    margin-bottom:23px;
}

nav > .menu > li > .menu{
    position:absolute;
    top:0;
    margin-top:50px !important;
    left:0;
    margin-left:0 !important;
    z-index:10;
    overflow:visible !important;
}

nav > .menu > li > .menu li{
    padding-top:1px;
    padding-bottom:6px;
    height:23px;
}

nav > .menu a,
nav > .menu span{
    font-size:13px;
}

.menu{
    margin-left:-5px;
}

.searchGroup .results,
.searchGroup .results ul{
    margin-left:0 !important;
}

.searchGroup .paginator{
    margin-top:20px;
}

.menu .menu li{
    display:block;
    width:100% !important;
    position:relative;
    float:none !important;
}

nav > .menu > li{
    position:relative;
    margin-top:-6px;
}

.buttons span{
    background-image:none !important;
    left:0 !important;
}

.container p{
    display:block;
    width:100%;
    float:none;
}

.downloads{
    padding-top:10px;
}

.downloads ul{
    float:left;
    padding:0;
    margin:0;
}

.downloads ul li li{
    display:block;
    width:300px !important;
}

.custom-combobox a{
    margin-top:-11px !important;
}

.header{
    z-index:10;
    position:relative;
}

.results .feature{
    width:260px;
    display:block;
}

.results > li{
    margin-bottom:15px;
}

.remark{
    margin-top: 25px;
    width:825px;
}