@font-face {
    font-family: "HelveticaCE35ThinRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/helvetica_neue_ce_35_thin-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaBkBTBook";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/futura_bk_bt_book-webfont-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaMedium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/futuram-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "MyriadProRegular";
    font-style: normal;
    font-weight: normal;
    src: local("в\98 є"), url("../fonts/myriadpro-regular-webfont.ttf") format("truetype");
}

body{
    background-image:url('../images/background.png');
    background-repeat: repeat-x;
    margin: 7px 0 0;
}

a{
    color:#0E6EBA;
}

a:hover{
    text-decoration:none;
}

h1,
h2{
    color: #0E6EBA;
    font-family: 'HelveticaCE35ThinRegular', Arial;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
}

h2, 
h4{
    text-align:center;
}

h4{
    color: #4D4D4D;
    font-family: 'MyriadProRegular', Arial;
}

hr{
    float: left;
    width: 100%; 
}
fieldset{
    border: 0 none;
    padding-right: 7px;
    padding-top: 4px;
}

.breadcrumb{
    float:left;
    clear:both;
    padding-top:10px;
    color:#666666;
}

.breadcrumb *{ 
    font-size:11px !important;
    float:left;
    padding-right:5px;
}

.breadcrumb a{
    color:#2872B8 !important;
    font-family: arial,helvetica, sans-serif !important;
    font-weight:normal !important;
    text-decoration: underline;
}

.breadcrumb a:last-child{
    color:#666666 !important;
    text-decoration:none;
    cursor:default;
}

.breadcrumb label{
    font-size: 8px !important;
    margin-left: 2px;
    margin-top: 3px;
}

.container{
    margin-top:30px;
    font-family:'MyriadProRegular', arial;
    font-weight:normal;
    font-size:14px;
    color:#4D4D4D;
}

.breadcrumb a{
    font-family:arial;
}

.container label{
    float:left;
    clear:both;
    margin-top:3px;
    margin-right:3px;
    width:100%;
}

.container p{
    float:left;
    margin-top:0;
}

.container ul{
    padding-top:0;
}

.header{
    float: left;
    width: 100%;
}

.header a{
    font-family:'HelveticaCE35ThinRegular', arial;
    color:#1978C1;
    font-weight:bold;
    text-decoration:none;
    font-size:41px;
    float:left;
    display:block;
    max-width: 456px;
}

.header .logo img{
    float:left;
    border:0 none;
    position:relative;
}

.header .logo label,
.header .logo span{
    width:362px;
    display:block;
    white-space:nowrap;
}

.header a span{
    float: right;
    margin-left: 13px;
    margin-top: 9px;
    position:relative;
}

.header a em{
    color: #333333;
    display: block;
    font-family: 'FuturaBkBTBook', Arial;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    text-transform:uppercase;
    text-align:right;
    margin-top:-6px;
}

.search{
    background: url("../images/search-bg.png");
    float: right;
    margin-top: 44px;
    width: 290px;
    margin-bottom:1em;
    padding-bottom:5px;
    padding-right:1px;
    padding-top:1px;
    background-repeat:no-repeat;
}

.search input[type='text']{
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    height: 21px;
    margin-top: -1px;
    width: 243px;
}

.search input[type='submit']{
    background-color: transparent;
    background-image: url("../images/searchicon.png");
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 20px;
    width:19px !important;
}

.menu{
    clear: both;
    float: left;
    list-style: none outside none;
    margin-bottom: 0;
    margin-top: -6px;
    padding: 0;
}

nav{
    width:960px;
    display:block;
    margin:0;
    padding:0;
}

nav > .menu > li{
    background-image: url("../images/topmenu-background.png");
    background-position: 100% 0;
    float: left;
    margin-top: -7px;
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    height: 50px;
    position:relative;
}

nav > .menu > li > a,
nav > .menu > li > span{
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 42px;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
    float: none;
    max-width: 114px;
    height: 49px;
}

nav > .menu > li.hover{
    background-position: 100% -50px;
}

#menu-1 > a,
#menu-1 > span{
    background-image:url('../images/menu1.png');
}

#menu-2 > a,
#menu-2 > span{
    background-image:url('../images/menu2.png');
}

#menu-3 > a,
#menu-3 > span{
    background-image:url('../images/menu3.png');
}

#menu-4 > a,
#menu-4 > span{
    background-image:url('../images/menu4.png');
}

#menu-5 > a,
#menu-5 > span{
    background-image:url('../images/menu5.png');
}

#menu-6 > a,
#menu-6 > span{
    background-image:url('../images/menu6.png');
}

#menu-7 > a,
#menu-7 > span{
    background-image:url('../images/menu7.png');
}

nav > .menu > li > .menu {
    background-color: #509E45;
    border-bottom: 1px solid #B9D4EA;
    border-left: 1px solid #B9D4EA;
    border-right: 1px solid #B9D4EA;
    visibility:hidden;
    position:absolute;
    top:0;
    margin-top:50px !important;
    left:0;
    margin-left:0 !important;
    z-index:10;
    overflow:hidden !important;
}

nav > .menu a,
nav > .menu span{
    font-family: 'FuturaMedium', Arial;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
}

nav > .menu > li > .menu > li{
    float: left;
    min-width: 100%;
    padding: 7px 10px;
}

.menu .menu a{
    white-space: nowrap;
}

nav > .menu > li > .menu > li > a{
    display:block;
}

nav > .menu > li > .menu > li.hover{
    background-color:#65B360;
}

.box{
    float:left;
}

.footer{
    color: #666666;
    font-family: 'MyriadProRegular', Arial;
    font-size: 12px;
    line-height: 180%;
    margin-top: 20px;
    text-align: center;
    background-image:url('../images/footer.png');
    height:79px;
}

.footer a{
    color: #666666;
}

.footer img{
    position:relative;
    top:4px;
}

html body.admin-menu {
    margin-top: 7px !important;
}

.smallAjax{
    background-image: url("../images/ajax-loader.gif");
    height: 16px;
    position: relative;
    right: 44px;
    top: 2px;
    width: 16px;
}

.ajaxLoadingBig{
    background-image: url("../images/ajax-loader-big.gif");
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 11px;
    width: 100%;
}

.wrapper .combobox{
    background-image: url("../images/searcher.png") !important;
    background-position: 0 0 !important;
    display: block;
    float: left;
    height: 95px;
    margin-top: -3px;
    outline: 0 none;
    padding-left: 2px;
    padding-top: 0;
    text-decoration: none;
}

.combobox .ui-icon{
    background-image: url("../images/selectmenu.png") !important;
    background-position: 0 0;
    float: right;
    height: 23px;
    margin-top: -11px;
    width: 23px;
}

.block a.title,p {
    float: left;
    width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    nav > .menu > li{
        margin-top: -5px !important;    
    }
}

.pageOverlay{
    background-image: url("../images/overlay.png");
    height: 100%;
    left: 0;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    position: fixed;
    top: 0;
    width: 100%;
}