.breadcrumb{
    float:left;
    clear:both;
    padding-top:10px;
    color:#666666;
}

.breadcrumb *{ 
    font-size:11px !important;
    float:left;
    padding-right:5px;
}

.breadcrumb a{
    color:#2872B8;
    font-family: arial,helvetica, sans-serif;
    font-weight:normal;
    text-decoration: underline;
}

.breadcrumb a:last-child{
    color:#666666 !important;
    text-decoration:none;
    cursor:default;
}

.breadcrumb label{
    font-size: 8px !important;
    margin-left: 2px;
    margin-top: 3px;
}

.container{
    margin-top:30px;
    font-family:'MyriadProRegular';
    font-weight:normal;
    font-size:14px;
    color:#4D4D4D;
}

.container label{
    float:left;
    clear:both;
    margin-top:3px;
    margin-right:3px;
    width:100%;
}

.container p{
    float:left;
    margin-top:0;
}

.container ul{
    padding-top:0;
}

.rightMenu{
    float:right;
    margin-top:53px;
}

.subscribe{
    background-image: url("../images/subscrbg.png");
    float: left;
    height: 132px;
    margin-top: 50px;
    width: 290px;
    color:#333;
}

.subscribeTitle{
    background-image: url("../images/subscribe.png");
    background-repeat: no-repeat;
    color: #1B74BE;
    display: block;
    font-size: 23px;
    font-weight: bold;
    height: 32px;
    line-height: 28px;
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 42px;
    text-transform: uppercase;
}

.subscribe label{
    margin-left: 21px;
}

.subscribe span:hover{
    color:#2B8E20;
}

.downloads{
    float: left;
    clear: both;
    width: 98%;
    border: 1px solid #4D4D4D;
    padding-left: 2%;
}

.downloads ul{
    list-style: outside none;
    padding:0 !important;
}

.downloads ul li ul li{
    float: left;
    width: 49%;
    padding-right: 1%;
}

.downloads > ul > li{
    float:left;
    width:100%;
    margin-bottom:20px;
}

.downloads h4{
    text-align:left;
    margin:0;
}

.downloads em{
    color: #6F6F6F;
}

.downloads label{
    width: auto !important;     
}

.downloads a{
    position: relative;
    top: 2px;
    float: right;
    right: 20px;
    background-image: url("../images/icons.png");
    background-position: -84 -77px;
    padding-left: 14px;
}

.rightMenu h2 {
    margin: 5px;
    text-align: left;
}

.newsSidebar {
    margin: 10px 0px;
    padding: 5px;
}

.newsSidebar li {
    list-style: none outside none;
    margin: 20px 0;
}

.newsSidebar li h4 {
    text-align: left;
    margin: 5px 0px;
}

.newsSidebar .newsDate {
    float: left;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 10px;
    width: 100%;
}
.newsSidebar .readmore {
    white-space: nowrap;
    float: right;
}




