.searchGroup form fieldset label{
    display: block;
    float: left;
    margin-right: 10px;
    width: auto;
}

.searchGroup form > fieldset > div{
    float: left;
    margin-bottom: 5px;
    margin-right: 59px;
    margin-top: 5px;
}

.searchGroup form > fieldset > div div{
    float:left;
}

.searchGroup form div.last{
    margin-right:0 !important;
}

.results{
    list-style: outside none;
    padding: 0;
    float: left;
    width:100%;
}

.results h3{
    margin-bottom: 1px;
}

.results ul{
    list-style: outside none;
    padding: 0;
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.results ul li label{
    float:left;
    max-width:300px;
    clear:none;
    width: auto;
    margin-right: 8px;
}

.results li{ /* BOTH LI */
    float:left;
    clear:both;
}

.results > li{
    border-bottom: 1px dotted #CCC;
    padding-bottom: 15px;
    width:100%;
}

.results ul li label.day{
    width: 100px;
    font-weight: bold;
}

.results .feature{
    background-image: url("../images/icons.png");
    background-position: -84px -57px;
    padding-left: 21px;
    float: left;
    clear: both;
    margin-top: 5px;
}

.paginator .previous{
    border-color: transparent #000000 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    display: block;
    float: left;
    height: 0;
    margin-right: 10px;
    margin-top: 3px;
    width: 0;
}

.paginator .next{
    border-color: transparent transparent transparent #000000;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: block;
    float: left;
    height: 0;
    margin-left: 5px;
    margin-top: 3px;
    width: 0;
}

.paginator .page{
    border: 1px solid #61B05C;
    display: block;
    float: left;
    margin-right: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    width: 19px;
    text-decoration:none;
}

.paginator{
    float:right;
}